* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    vertical-align: middle;
}

.container {
    border: 2px solid;
    width: 500px;
    min-height: 600px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    margin: 0 auto;
}

.caixa {
    background-color: red;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}

.preco-total {
    position: absolute;
    background-color: yellow;
    width: 300px;
    height: 40px;
    padding: 10px 0;
}

.espaco {
    position: absolute;
    background-color: blue;
    width: 90px;
    height: 50px;
    margin-top: 40px;
}

.container-btns-respostas {
    background-color: green;
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 90px;
}

.container-btns {
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    width: 80px;
    height: 80px;
}

.container-btns div {
    width: 15px;
    height: 15px;
    background-color: black;
}

.mudancas {
    background-color: bisque;
    width: 150px;
    height: 80%;
}

.container-gaveta {
    background-color: violet;
    position: absolute;
    width: 400px;
    min-height: 50px;
    margin-top: 400px;
    
}

.gaveta {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}